.vs
bin
obj

/EPPlus/EPPlusExcelCalculationSample/*.user
/EPPlus/*.vsmdi
/AmbUtilities/ImportLocations/*.user
/AmbUtilities/ImportJobTitles/*.user
/AmbUtilities/ImportLocations/DatabaseLog.txt
/AmbUtilities/ImportLocations/ImportLocations.txt
/AmbUtilities/ImportJobTitles/ImportJobTitles.txt
/AmbUtilities/ImportJobTitles/DatabaseLog.txt
/allCountries
/adminCode5
/alternateNamesV2
/cities500
/DownloadFilesFromGeoNames.Errors.txt
/DownloadFilesFromGeoNames.txt
/ImportGeographyFromGeoNames.Errors.txt
/ImportGeographyFromGeoNames.txt
