.vs
bin
obj

/EPPlus/EPPlusExcelCalculationSample/*.user
/EPPlus/*.vsmdi
/AmbUtilities/ImportLocations/*.user
/AmbUtilities/ImportJobTitles/*.user
/AmbUtilities/ImportLocations/DatabaseLog.txt
/AmbUtilities/ImportLocations/ImportLocations.txt
/AmbUtilities/ImportJobTitles/ImportJobTitles.txt
/AmbUtilities/ImportJobTitles/DatabaseLog.txt
/allCountries
/adminCode5
/alternateNamesV2
/cities500
/DownloadFilesFromGeoNames.Errors.txt
/DownloadFilesFromGeoNames.txt
/ImportGeographyFromGeoNames.Errors.txt
/ImportGeographyFromGeoNames.txt
/*.sql
/LAPTOP-5VVVBFQ8
/AmbUtilities/cities500
/AmbUtilities/allCountries
/AmbUtilities/alternateNamesV2
/AmbUtilities/countryInfo.txt
/AmbUtilities/allCountries.zip
/AmbUtilities/alternateNamesV2.zip
/AmbUtilities/cities500.zip
/AmbUtilities/ImportGeographicLocationsFromGeoNames.Errors.txt
/AmbUtilities/ImportGeographicLocationsFromGeoNames.txt
/USE1DEVDRPSQL01
/AmbUtilities/admin1CodesASCII.txt
/AmbUtilities/admin2Codes.txt
/AmbUtilities/Dump.txt
/AmbUtilities/ImportGeographicLocations*.sql
