.vs
bin
obj

/EPPlus/EPPlusExcelCalculationSample/*.user
/EPPlus/*.vsmdi
/AmbUtilities/ImportLocations/*.user
/AmbUtilities/ImportJobTitles/*.user
/AmbUtilities/ImportLocations/DatabaseLog.txt
/AmbUtilities/ImportLocations/ImportLocations.txt
/AmbUtilities/ImportJobTitles/ImportJobTitles.txt
/AmbUtilities/ImportJobTitles/DatabaseLog.txt
